#maincontent form {width: 940px;}
#maincontent h3 {
	background:#eee url('images/process_step_header_fade.gif') repeat-x bottom;
	padding:5px 10px;
	border:1px solid #dadde3;
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	font-size:1.5em;
	color:#999;
}
#maincontent h3:first-of-type {
	border-top:1px solid #dadde3;	
}
#maincontent h3 span {
	background:#fff;
	padding:1px 4px 1px 4px;
	border-radius:10x;	
	margin-right:10px;
	margin-top:0px;
	font-size:12px;
	float:left;
	font-weight:bold;
	border:1px solid #fff;
}
#maincontent fieldset {
	background:#f7f7f7;
	padding:10px 10px 0px 10px;
	margin:0px;
}

/*Styles for the displayed interface*/

#maincontent h3.highlighted {background:#f8f3e4;border:1px solid #b8afa1;color:#de8727;font-weight:bold;}
#maincontent h3.highlighted span {
	border:1px solid #e19c2b;
	background:#de8727;
	color:#fff;
}
#maincontent h3.highlighted + fieldset, #maincontent h3.highlighted + fieldset + fieldset {
	border:1px solid #b8afa1;
	border-top:none;
	background:url('images/process_step_fade.jpg') repeat-x top #fbfaf6;
}
/*End styles for the displayed interface*/

/*Form Styles */
#enews legend { 
	display:none;
}
#enews fieldset ol {
	margin-top:15px;
	margin-left:-12px;	
}
#enews fieldset ol li {
	list-style:none;
	padding:5px 20px;
	width:400px;	
}
#enews fieldset ol li label {
	font-size:1.3em;
}
#enews fieldset ol li input, #enews fieldset ol li textarea#enews fieldset ol li select {
	border:1px solid #b8afa1;
	color:#5f5f5f;
}
#enews fieldset ol li input[type=text], #enews fieldset ol li input[type=file], #enews fieldset ol li textarea, #enews fieldset ol li select {
	width:100%;
	font-size:1.1em;
}
#enews fieldset ol li input[type=text], #enews fieldset ol li input[type=file], #enews fieldset ol li textarea {
	padding:5px;
}
#enews fieldset ol li .required {
	position:absolute;
	left:8px;
	text-indent:-9999px;
	margin-top:-17px;
	background:url('images/requiredIndicator.png') no-repeat top right;
	width:40px;
	height:20px;
	display:block;
}
#enews fieldset ol li .helper{
	font-size:.6em;
	color: #7c7c7c;
	padding-left:15px;
	line-height:1.3em;
}
strong.warning {color:#ac0302;font-size:1.3em;} /* For the character count*/

/* First option */
#enews .option_step {
	list-style:none;
	text-align:center;
	margin:0px;	
}
#enews .option_step li {
	display:inline;
	margin:40px;
	float:left;
	padding:0;
	width:340px;
}
#enews .option_step li a {
	display:block;
	width:350px;
	height:155px;
	border:1px solid #b8afa1;
	border-radius:5px;
	text-indent:-9999px;
}
#enews .option_step li a#newsAnnouncement {
	background: #f8f3e4 url('images/typeIconNews.png') no-repeat center;
}
#enews .option_step li a#eventAnnouncement {
	background: #f8f3e4 url('images/typeIconEvent.png') no-repeat center;
}
#enews .option_step li a#newsAnnouncement:hover {
	background: #f5e7bc url('images/typeIconNews_hover.png') no-repeat center;
	border-color:#9f9483;	
}
#enews .option_step li a#eventAnnouncement:hover {
	background: #f5e7bc url('images/typeIconEvent_hover.png') no-repeat center;
	border-color:#9f9483;	
}
/* The display sample*/
#wdn_process_step3 ol {
	float:left;	
}
#sampleLayout {
	float:left;	
	margin:20px 10px 0px 40px;
	border:1px solid #b8afa1;
	padding:10px;
	background:#fff url('images/process_step_header_fade.gif') repeat-x bottom;
	width:375px;
}

/*

Building the newsletter

*/
#maincontent .dragItem {
	border:1px solid black;
	cursor:move;	
}
#maincontent .emptyStory {
	border:2px dashed #de8727;
	color: #de8727;
	padding:30px;
	text-align:center;
}
/*jQuery.UI styles */



/*

End Building the newsletter 

*/
#maincontent table th {text-align:left;}
/*to move to scripts CSS */
#maincontent h3 span {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#enews .option_step li a  {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
}

