@import 'submission.css';
@import 'manage.css';
@import 'newsletter.css';

table th {text-align:left;}
form fieldset {
    padding:10px 10px 0px 10px;
    margin:0px;
}



/* Form Styles
************************/

strong.warning {color:#ac0302;font-size:1.3em;} /* For the character count*/

/* rss icon
********************/
a.rsslink {
    background:url('images/rss.png') no-repeat;
    display:inline-block;
    height:20px;
    width:20px;
    position:relative;
    top:-2px;
    text-indent:-9999px;
} 
