@import 'submission.css';
@import 'manage.css';
@import 'newsletter.css';

.btnsubmit {
	display:none;
}
#maincontent table th {text-align:left;}
#maincontent fieldset {
    padding:10px 10px 0px 10px;
    margin:0px;
}


/* h3
**************/
#maincontent h3.sec_main {
	border-radius:.3em;
    -webkit-border-radius:.3em;
    -moz-border-radius:.3em;
    
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

    border:1px solid #bbb;
    line-height:100%;
    margin:0 0 10px 0;
    padding:6px 6px 5px 9px;
    color:#fcfcfc;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    
    background: #8b8b8b; /* for non-css3 browsers */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#7a7a7a'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #a9a9a9,  #7a7a7a); /* for firefox 3.6+ */
    
}
#maincontent h3.sec_main a {
	color:#ddd;
	text-decoration:underline;
}



/* Form Styles 
************************/
#maincontent .enews legend { 
	display:none;
}
#maincontent .enews fieldset ol {
	margin-top:15px;
	margin-left:-12px;	
}
#maincontent .enews fieldset ol li {
	list-style:none;
	padding:5px 20px;
}
#maincontent .enews fieldset ol li label {
	font-size:1.3em;
}
#maincontent .enews fieldset ol li input, #maincontent .enews fieldset ol li textarea, #maincontent .enews fieldset ol li select {
	border:1px solid #b8afa1;
	color:#5f5f5f;
}
#maincontent .enews fieldset ol li input[type=text], #maincontent .enews fieldset ol li input[type=file], #maincontent .enews fieldset ol li textarea, #maincontent .enews fieldset ol li select {
	width:100%;
	font-size:1.1em;
}
#maincontent .enews fieldset ol li input[type=text], #maincontent .enews fieldset ol li input[type=file], #maincontent .enews fieldset ol li textarea, #maincontent .enews fieldset ol li select {
	padding:5px;
}
#maincontent .enews fieldset ol li span.required {
	position:absolute;
	left:8px;
	text-indent:-9999px;
	margin-top:-17px;
	background:url('images/requiredIndicator.png') no-repeat top right;
	width:40px;
	height:20px;
	display:block;
}
#maincontent .enews fieldset ol li .helper{
	font-size:.6em;
	color: #7c7c7c;
	padding-left:15px;
	line-height:1.3em;
}
strong.warning {color:#ac0302;font-size:1.3em;} /* For the character count*/
#maincontent .enews fieldset fieldset {background:none;padding:0;}
#maincontent .enews fieldset fieldset legend {display:block;font-size:1.3em;}
#maincontent .enews fieldset fieldset ol {margin-left:-20px;margin-top:0px;}
#maincontent .enews fieldset fieldset ol li {margin-left:-30px;font-size:0.8em;padding:2px 20px;}
/* First option */
#maincontent .enews .option_step {
	list-style:none;
	text-align:center;
	margin:0px;	
}
#maincontent .enews .option_step li {
	display:inline;
	margin:40px;
	float:left;
	padding:0;
	width:340px;
}
#maincontent .enews .option_step li a {
	display:block;
	width:350px;
	height:155px;
	border:1px solid #b8afa1;
	border-radius:5px;
	text-indent:-9999px;
}
#maincontent .enews p.nextStep {
	margin-top: 0px;
	margin-left: 33px;
	background:url('images/actionButtonL.png') top left no-repeat;
	display:inline-block;
	height:37px;
	padding-left:7px;
}
#maincontent .enews p.nextStep a {
    background:url('images/actionButtonR.png') no-repeat top right;
    font-size:1.1em;
    color:#494949;
    display:inline-block;
    padding:9px 30px 0px 6px;
    margin:0;
    border:0;
    height:37px;
    border:none;
    width:auto;
}
#maincontent .enews .option_step li a#newsAnnouncement {
	background: #f8f3e4 url('images/typeIconNews.png') no-repeat center;
}
#maincontent .enews .option_step li a#eventAnnouncement {
	background: #f8f3e4 url('images/typeIconEvent.png') no-repeat center;
}
#maincontent .enews .option_step li a#newsAnnouncement:hover {
	background: #f5e7bc url('images/typeIconNews_hover.png') no-repeat center;
	border-color:#9f9483;	
}
#maincontent .enews .option_step li a#eventAnnouncement:hover {
	background: #f5e7bc url('images/typeIconEvent_hover.png') no-repeat center;
	border-color:#9f9483;	
}






/* rss icon
********************/
#maincontent a.rsslink {
    background:url('images/rss.png') no-repeat;
    display:inline-block;
    height:20px;
    width:20px;
    position:relative;
    top:-2px;
    text-indent:-9999px;
} 

/* -moz -webkit
********************/
#maincontent h3 span {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#maincontent .enews .option_step li a  {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
}
.dragItem span.requestedDates  {
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;	
	-webkit-border-top-right-radius:3px;
}

