form#enewsManage {
    width:100%;
}
form#enewsManage .btnsubmit {
    display:none !important;
}

/* Check/Uncheck/Action 
****************************/
.storyAction {
    padding:6px 5px 10px;
    position:relative;
    z-index: 1;
}
.storyAction::after {
    content: '';
    clear: both;
    display: block;
}
a.checkall,
a.uncheckall {
    float:left;
    margin-right:6px;
}
a.checkall:focus,
a.uncheckall:focus {
    color:#fff !important;
}
form fieldset.storyFieldsetAction {
    clear:none;
    margin:3px 0 0 0;
    padding:0;
    width:210px;
}
form fieldset.storyFieldsetAction label,
form fieldset.storyFieldsetAction legend {
    display:none;
}
form fieldset.storyFieldsetAction select {
    margin:0 5px;
    padding:0;
}
/* Newsroom Chooser Form 
**************************/
.enews.newsroom_choose {
    position:relative;
    bottom:72px;
    float:right;
}
.enews.newsroom_choose li {
    padding:0 10px 10px 0;
    float:left;
}

/* Function Tables
*************************/

.functionTable thead th, .functionTable tbody td {
    padding: 5px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #E8D6C1;
}
.storylisting.functionTable tbody tr td:first-of-type {
    border-right:0;
}
.storylisting.functionTable tbody tr.event td:first-of-type {
    background:url('images/typeIndicatorEvent.png') no-repeat 0 0;
}
.storylisting.functionTable tbody tr.news td:first-of-type {
    background:url('images/typeIndicatorNews.png') no-repeat 0 0;
}
.storylisting.functionTable tbody tr.ad td:first-of-type {
    background:url('images/typeIndicatorAd.png') no-repeat 0 0;
}
.storylisting.functionTable tbody tr td.mainCell {
    border-left:0;
    padding-left:0;
}
.functionTable tbody td {
    padding:10px;
}
.functionTable tbody td.mainCell {
    max-width:600px;
    padding:15px;
}
.functionTable tbody td.mainCell h5 {
    margin: 0 0 .5em;
}
.functionTable tbody tr td.mainCell h5 {
    border-bottom:1px solid #cdc4bb;
}
.functionTable tbody td.mainCell form a, .functionTable tbody td.mainCell span {
    font-size:0.8em;
    font-weight: lighter;
}
.functionTable tbody td.mainCell form {
    display:inline;
}
.functionTable a.gaStats {
    text-indent: -99999px;
    background:url('images/iconReport.png') no-repeat 0 0;
    display:block;
    width:32px;
    height:32px;
}
body #cboxLoadedContent {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #3a3a3a;
}
