/* Check/Uncheck/Action
****************************/
.storyAction {
    background-color: var(--bg-overlay-dark);
    padding:6px 5px 10px;
    position:relative;
    z-index: 1;
}
.storyAction::after {
    content: '';
    clear: both;
    display: block;
}
a.checkall,
a.uncheckall {
    float:left;
    margin-right:6px;
    color: #fff !important;
}

/* Function Tables
*************************/

.functionTable thead th, .functionTable tbody td {
    padding: 5px;
    border-left: 1px solid #e3e3e2;
    border-right: 1px solid #e3e3e2;
}
.storylisting.functionTable tbody tr td:first-of-type {
    border-right:0;
}
.storylisting.functionTable tbody tr.event td:first-of-type {
    background:url('images/typeIndicatorEvent.png') no-repeat 0 0;
} /* No longer show News banner since every item is now news
.storylisting.functionTable tbody tr.news td:first-of-type {
    background:url('images/typeIndicatorNews.png') no-repeat 0 0;
} */
.storylisting.functionTable tbody tr.ad td:first-of-type {
    background:url('images/typeIndicatorAd.png') no-repeat 0 0;
}
.storylisting.functionTable tbody tr td.mainCell {
    border-left:0;
    padding-left:0;
}
.functionTable tbody td {
    padding:10px;
}
.functionTable tbody td.mainCell {
    max-width:600px;
    padding:15px;
}
.functionTable tbody td.mainCell h5 {
    margin: 0 0 .5em;
}
.functionTable tbody td.mainCell form a, .functionTable tbody td.mainCell span {
    font-size:0.8em;
    font-weight: lighter;
}
.functionTable tbody td.mainCell form {
    display:inline;
}

body #cboxLoadedContent {
    background-color: var(--bg-white);
    padding: 1em;
    border: 1px solid var(--b);
}
