#userList {
    list-style:none;
    margin:0;
    background:#F1EDE0;
    padding:10px;
}
#userList li {
    display:inline-block;
    text-align:center;
    padding: 0 10px 10px 0;
    position:relative;
}
#userList li .uid {
    font-size:0.8em;
    display:block;  
}
#userList li img {display:block;margin-left:auto;margin-right:auto;}
#userList li form {
    position:absolute;
    top:6px;
    right:7px;
    display:none;
}
#userList li:hover form {display:block;}
#emailList {
    list-style:none;
    background:#F1EDE0;
    padding:10px;
    margin:0;
}
#emailList li {
    position: relative;
    padding:6px 5px;
    border-bottom:1px solid #E8D6C1;
}
#emailList li span.details {
    font-size:0.8em;
    background:#0c217a;
    margin-left: 5px;
    color:#fff;
    font-weight:bold;
    padding:2px 5px;
    border-radius:3px;
    opacity:0.5;
}
#emailList li form {
    position: absolute;
    top: 0;
    right: 0;
    padding:0;
    display:none;
}
#emailList li:hover form {
    display:inline;
}
#emailList:after {
    clear:both;
}
.addData {
    background:#E3DBC2;
    padding:10px;
}
.addData input[type='text']{
    border:1px solid #E8D6C1;
    padding:3px;
    width:50%;
    font-size:1.06em;
    padding:5px 5px 5px 25px;
}
#emailList + form input[type='text']{
    display:block;
    width: 100%;
    padding-left:25px;
    background: #fff url('images/iconEmail.png') no-repeat 5px 50%;
}
.addData span.helper {
    display: block;
}
