/* Newsletter Preview
************************/
#newsStories .newsColumn {
    float:left;
    width: 262px;
}
#newsStories #newsColumn2 {float:right;}
#maincontent .dragItem {
    cursor:move;    
}
#newsColumnIntro {
    border-bottom:1px dashed #e0e0e0;
    padding-bottom:10px;
}
#maincontent table .story { 
    clear:both;
    margin-top:10px;
    cursor:move;
    padding-top:10px;
}
#maincontent .empty {
    color: #de8727;
    padding:30px;
    text-align:center;
    opacity:0.45;
}
#maincontent .dragItem form, #maincontent #drag_story_list .dragItem p, #maincontent #drag_story_list .dragItem p img {display:none;}
#maincontent #drag_story_list .dragItem h4 {
    font-size:0.9em;
    color:#fff;
    font-weight:bold;
    padding:0.3em 0.1em 0.2em 22px;
    background: #7c7c7c url('images/dragIndicator.png') repeat-y top left;
    margin:3px 0;
    border:1px solid #494949;
}
.dragItem span.requestedDates  {
    background:#d8d8d8 url('images/tapTopShadow.png') repeat-x top left;
    color:#494949;
    font-size:0.7em;
    padding:1px 5px;
    position:relative;
    top:-5px;
    border-radius:3px;
}
#maincontent .filled {
    border:none;
}
#maincontent .newsColumn {min-height:75px;}
#maincontent .newsColumn form, #maincontent .newsColumn .requestedDates {display:none;}
#maincontent .newsColumn h4 {
    font-size: 1em;
    font-weight:bold;
    background:#f0f0f0;
    padding:2px;
}
#maincontent #newsColumnIntro h4 {
    font-size:1.5em;     
    background:none;
}
#maincontent #newsColumnIntro h4 a {
    color:inherit;
}
#maincontent #newsColumnIntro h4 a:hover {
    text-decoration:underline;
    color:#777;
}
#maincontent .newsColumn p {padding:2px; font-size:98%;margin-bottom:15px;}

/* jQuery.UI Styles 
************************/
.ui-sortable-placeholder { border:2px dashed #de8727; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.ui-datepicker-trigger {
    float:right;
    left:5px;
    position:relative;
    top:-23px;
    cursor:pointer;
}
