#maincontent .story { 
    clear:both;
    margin-top:20px;
    min-height:80px;
}
#maincontent table .story:hover {
    outline:2px solid #FA6520;
}
#maincontent .newsColumn h4 {
    font-size: 1em;
    font-weight:bold;
    padding:2px;
    margin:0 0 7px 0;
}
#maincontent .newsColumn h4 a {
    color:inherit;
}
#maincontent .newsColumn h4 a:hover {
    text-decoration:underline;
    color:#777;
}
#maincontent .newsColumn p {
    padding:2px;
    font-size:98%;
    margin-bottom:15px;
}
#maincontent .newsColumn a {
    margin-top:-10px;
    margin-bottom:5px;
}
#maincontent #newsColumnIntro {
    padding-bottom:10px;
    margin-bottom:25px;
}
#maincontent #newsColumnIntro > .story:first-child{
    margin-top:0;
}
#maincontent #newsColumnIntro h4 {
    font-size:1.5em;
    margin-bottom:0;
}


/* Newsletter Web View for the rendered stories. (Not the newsletter building web view)
************************/
#maincontent .half{
    width:50%;
    float:right;
    margin:0 0 10px 10px;
}
#maincontent #newsletterWeb .story img {
    margin-bottom:0;
}
#maincontent #newsletterWeb .story img.frame:hover {
   border: solid 1px #CCC;
   box-shadow: 1px 1px 5px #999;
}
#maincontent img.spacer {display:none;}

.sidebar {
    background: #B70302;
    padding:5px;
    border-radius:10px;
}
.sidebar.top{
    border-radius:10px 10px 0 0;
    padding-bottom:0;
}
.sidebar.bottom{
    border-radius:0 0 10px 10px;
    padding-top:0;
    background:#4F9BBF;
    background: -moz-linear-gradient(top, #4f4f4f 0%, #4F9BBF 5%, #4F9BBF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(5%,#4F9BBF), color-stop(100%,#4F9BBF));
}
.inner_sidebar {
    border:1px solid rgba(255, 255, 255, .5);
    padding:5px;
    color:#fff;
    border-radius:5px;
}
.sidebar.top .inner_sidebar {
    border-radius:5px 5px 0 0;
    border-bottom:none;
    padding-bottom:20px;
}
.sidebar.bottom .inner_sidebar {
    border-radius:0 0 5px 5px;
    border-top:none;
    padding-top:20px;
}
#maincontent .inner_sidebar h3 {
    color:#fff;
    font-size:1.2em;
    font-weight:bold;
    letter-spacing: -0.02em;
    text-shadow: rgba(66, 66, 66, 0.796875) 1px 1px 1px;
    border-bottom:1px solid rgba(255, 255, 255, .5);
    margin-bottom:10px;
    padding-bottom:0.1em;
}
#maincontent .inner_sidebar h3 span {
    font-size:0.6em;
    text-transform:uppercase;
    display:block;
}
#maincontent .inner_sidebar ul {
    list-style:none;
    padding:0;
    margin-bottom:15px;
}
#maincontent .inner_sidebar ul li {
    font-size:0.9em;
    border-bottom:1px dashed rgba(255, 255, 255, .5);
    padding:3px 0;
}
#maincontent .inner_sidebar a {
    color:#fff;
}
#maincontent .inner_sidebar label {display:none;}
#maincontent .inner_sidebar input[type="email"] {
    display:block;
    width:100%;
    border:1px solid #025176;
    padding:5px 0px 5px 0px;
    font-size:1.06em;
    background: #fff url('images/iconEmail.png') no-repeat 5px 50%;
}
#maincontent .inner_sidebar input[type="submit"] {
    background:#025176;
    border-radius:5px;
    border:0;
    color:#fff;
    padding:3px 5px;
    margin-top:10px;
}
/* Bad Hack at hiding the extra subscribe forms */
.inner_sidebar form {display:none;}
.inner_sidebar .subscribe form {display:block;}
/* Newsletter Details
************************/
#newsletterDetails {
    background:#F1EDE0;
    border-radius:5px;
    padding:20px;
    display:inline-block;
    position:relative;
}
#newsletterDetails .grid8 {
    width:622px
}
#newsletterDetails .grid4 {
    width:274px
}
#newsletterDetails form fieldset {
    padding:0;
}
#newsletterDetails form.email {
    display:none;
}
#newsletterDetails label {
    color:#705538;
    font-size:1.1em;
    font-weight:bold;
    display:block;
}
#newsletterDetails label .helper {
    font-size:0.6em;
    font-weight:normal;
    color:#705538;
}
#newsletterDetails input[type='text'] {
    display:block;
    font-size:1.2em;
    border:1px solid #E8D6C1;
    padding:3px;
    width:590px;
}
#newsletterDetails fieldset ol, #newsletterDetails .email_addresses ul {
    padding:0;
}
#newsletterDetails fieldset ol li {
    list-style:none;
    padding:0px 25px 14px 0px;
}
#newsletterDetails fieldset legend {
    display:none;
}
#newsletterDetails form input[type='submit'], #newsletterDetails form a.action {
    background:#78A8C0;
    border:none;
    font-size:12px;
    border-radius:3px;
    padding:3px 5px;
    color:#fff !important;
    cursor:pointer;
}
#newsletterDetails form input[type='submit'][disabled='disabled'] {
    opacity:0.5;
    cursor:default;
}
#newsletterDetails form + a.action {display:none;}
#newsletterDetails .email_addresses {

}
#newsletterDetails .email_addresses h5 {
    color:#705538;
    font-size:.8em;
    font-weight:bold;
    margin-bottom:9px;
    position:absolute;
    right:0px;
    top:0px;
    background:#f5f4ef;
    padding:8px 8px 5px 8px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 1px -1px 1px #c0b695;
    cursor:pointer;
}
#newsletterDetails .email_addresses ul {
    display:none;
    border-left:2px solid #E8D6C1;
}
#newsletterDetails .email_addresses ul li {
    list-style:none;
    padding:6px 5px;
    border-bottom:1px solid #E8D6C1;
    display:inline-block;
    width:100%;
}
#newsletterDetails .email_addresses ul li:nth-child(even) {
    background:#fcf6e4;
}
#newsletterDetails .email_addresses ul li .emailIndicator {
    display:inline;
    float:left;
}
#newsletterDetails .email_addresses ul li label {display:inline;font-size:1em;font-weight:normal;}

/* 

Newsletter Email Preview (for building the newsletter)

************************/
#previewWrapper {
    text-align:center;
    margin-top:10px;
}
#preview {
    width:576px;
    max-width:576px;
    text-align:left;
    margin:0 auto;
}
#previewWrapper > a {
    font-size:9px;
}
#preview header {
    background-color: #F8F5EC;
    min-height: 27px;
    text-align: center;
}
#preview header img {
    width: 100%;
    display: block;
}
#preview header * {
    margin:auto 0;
    padding:0;
}
#preview header h1 {
    font-size:30px;
    line-height:100%;
    font-weight:bold;
}
#preview header h2 {
    font-size:10px;
    line-height:100%;
}
#preview #previewContent {
    background-color: #F8F5EC;
    display:inline-block;
}

#preview #previewContent #mast {
    background-color:#C80E13;
    padding:10px 20px 10px 20px;
    color:#fff;
    display:block;
    width: 536px;
}
#preview #previewContent #mast time {
    float: left;
    font-size:14px;
    font-family:Helvetica,Arial,sans-serif;
}
#preview #previewContent #mast h2 {
    float: right;
    width: 75%;
    text-align: right;
    font-style: italic;
    font-size:14px;
    font-family:Helvetica,Arial,sans-serif;
    color:#fff;
    font-weight: normal;
    padding: 0px;
}
#preview #previewContent table tr >td {
    vertical-align:top;
}
#preview #previewContent article:nth-child(even) {
    background-color: #E7E2D6;
}
#preview #previewContent article:nth-child(odd) {
    background-color: #F8F5EC;
}
#preview footer {
    background-color: #525151;
    color: #cfcfcf;
    padding: 20px 20px;
    font-size:10px;
    line-height:1.4em;
}
#preview footer img {
    float:right;
    margin-right:10px;
}
#maincontent .newsColumn, #maincontent .adArea {min-height:75px;}
#maincontent .newsColumn form, #maincontent .newsColumn .requestedDates {display:none;}
#maincontent .ui-sortable .story {
    cursor:move;
    position:relative;
    margin-top:0px;
    margin-bottom:15px;
    display:block !important;
}

#maincontent .adArea .story {
    position:relative;
}

#newsColumn1, #newsColumn2 {
    float:left;
    width: 273px;
}
#newsColumn2 {float:right;}


/*Story Dragging */
#maincontent #drag_story_list {margin-top:50px;}
#maincontent #drag_story_list h3 {
    postion:relative;
    background:#eee;
    border-radius:5px 5px 0px 0px;
    padding:5px 8px;
    border-bottom:2px solid #ccc;
    margin-top:20px;
}
#maincontent #drag_story_list h3 a.showHide {
    float:right;
    text-indent:-99999px;
    background:url(/wdn/templates_3.0/css/content/images/zenboxShowHide.png) no-repeat top right;
    background-position:0px 0px;
    display:block;
    width:20px;
    height:20px;
}
#maincontent #drag_story_list h3 a.showHide.show {
    background-position: 0 -42px;
}
#maincontent #drag_story_list h3 span {
    font-size:.6em;
    color:#999;
}
#maincontent .dragItem {
    cursor:move;
    border-bottom:1px solid #ddd;
    display:inline-block;
    padding: 3px 0;
    width:100%;
}
#maincontent .dragItem:hover {
    background:#f4f4f4;
}
#maincontent .empty {
    color: #de8727;
    padding:30px;
    text-align:center;
    opacity:0.45;
}
#maincontent .dragItem form,
#maincontent #drag_story_list .dragItem p,
#maincontent #drag_story_list .dragItem p a,
#maincontent #drag_story_list .dragItem table {
    display:none;
}
#maincontent #drag_story_list .dragItem h4 {
    font-size:0.85em;
    font-weight:bold;
    margin:3px 0;
    float:left;
    display:inline-block;
    max-width:160px;
    padding-left:4px;
}

.dragItem span.requestedDates  {
    background:#eee;
    color:#494949;
    float:right;
    font-size:0.7em;
    padding:3px 5px;
    position:relative;
    border-radius:3px;
    display:inline-block;
    max-width:50px;
    line-height:0.9em;
}
#maincontent .dragItem:hover span.requestedDates {
    background:#fff;
}
.dragItem span.dateRange {
    float:left;
    text-align:center;
}
.dragItem span.dateRange:first-of-type{
    padding-right:2px;
    border-right:1px solid #ddd;
}
.dragItem span.dateRange:last-of-type{
    padding-left:3px;
}
.dragItem span.dateRange .month{
    display:block;
    text-transform:uppercase;
    color:#999999;
}
.dragItem span.dateRange .day{
    text-align:center;
    font-size:120%;
    font-weight:bold;
}
#maincontent .filled {
    border:none;
}
/* Ads */
#maincontent .dragItem.ad img {
    width:220px !important;
    height:inherit !important;
    float:left;
}
.dragItem.ad span.requestedDates {
    position:absolute;
    right:10px;
}

/* Story inline controls
************************/

.storyTools {
    background:url('images/toolBG.png');
    height:100%;
    z-index:9;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    display:none;
    text-align:center;
}

.ui-sortable-helper .storyTools {display:none;}

#maincontent table .story textarea {
    width:100%;
    min-height:75px;
    font:0.8em "Lucida Grande",Verdana,Arial;
}
#maincontent .storyTools a {
    width:48px;
    height:48px;
    border:1px solid #fda967;
    border-radius:10px;
    display:inline-block;
    vertical-align:middle;
    background-color:rgb(253,229,210);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.2, rgb(253,229,210)),
        color-stop(1, rgb(253,169,103))
    );
    background-image:-moz-linear-gradient(
        center top,
        rgb(253,229,210) 20%,
        rgb(253,169,103) 100%
    );
    font-size:0.8em;
    font-weight:bold;
    text-transform:uppercase;
    color:#fff;
    margin:10px 5px;

}
.storyTools a span {
    display:block;
    width:100%;
    height:100%;
}
.storyTools a.edit span {
    background:url('images/toolEdit.png') no-repeat 50% 50%;
}
.storyTools a.remove span {
    background:url('images/toolRemove.png') no-repeat 50% 50%;
}
.storyTools a.layout span {
    background:url('images/toolLayout.png') no-repeat 50% 50%;
}


/* jQuery.UI Styles 
************************/
.ui-sortable-placeholder { border:2px dashed #de8727; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.ui-datepicker-trigger {
    float:right;
    right:5px;
    position:relative;
    top:-23px;
    cursor:pointer;
}

/* Help Page Styles
***********************/
dt {
    font-weight: bold;
    font-size:1.3em;
    padding:10px 0 0 0;
    margin-left:60px;
    border-bottom:1px solid #efefef;
}
dt:before {
     content: "Q:";
     font-size: 2.5em;
     font-family: Georgia, "Times New Roman", Times, serif;
     margin-right: 7px;
     padding: 0 8px 5px 8px;
     color: #ccc;
     font-weight: normal;
     margin-left: -65px;
     position: relative;
     top: 3px;
}
 
dd {
    padding:10px 0 0 0;
    margin-left:94px;
    line-height: 150%;
    min-height:50px;
}

dd:before {
     content: "A:";
     font-size: 2.5em;
     font-family: Georgia, "Times New Roman", Times, serif;
     margin-right: 14px;
     padding: 0 9px;
     color: #FFF;
     background-color: #ccc;
     margin-left: -65px;
     position: relative;
     top: 13px;
     border-radius:3px;
}
#maincontent dd p+ul {padding-left:20px;}
