#userList li:hover form {display:block !important;}
#emailList {
    list-style:none;
    padding:10px;
    margin:0;
}
#emailList li {
    position: relative;
    padding:6px 5px;
    border-bottom:1px solid #e3e3e2;
}
#emailList li span.details {
    font-size:0.7em;
    background:#0c217a;
    margin-left: 5px;
    color:#fff;
    padding:2px 5px;
    border-radius:3px;
    opacity:0.5;
    white-space: nowrap;
}
#emailList li form {
    position: absolute;
    top: 0;
    right: 0;
    padding:0;
    display:none;
}
#emailList li:hover form {
    display:inline;
}
#emailList:after {
    clear:both;
}
.addData {
    padding:10px;
}
.addData input[type='text']{
    padding:3px;
    width:50%;
    font-size:1.06em;
    padding:5px 5px 5px 25px;
}
#emailList + form input[type='text']{
    display:block;
    width: 100%;
    padding-left:25px;
    background: #fff url('images/iconEmail.png') no-repeat 5px 50%;
}
