#maincontent #userList {
    list-style:none;
    margin:0;
    background:#F1EDE0;
    padding:10px;
}
#maincontent #userList li {
    display:inline-block;
    text-align:center;
    padding: 0 10px 10px 0;
    position:relative;
}
#maincontent #userList li .uid {
    font-size:0.8em;
    display:block;  
}
#maincontent #userList li img {display:block;margin-left:auto;margin-right:auto;}
#maincontent #userList li form {
    position:absolute;
    top:6px;
    right:7px;
    display:none;
}
#maincontent #userList li:hover form {display:block;}
#maincontent #emailList {
    list-style:none;
    background:#F1EDE0;
    padding:10px;
    margin:0;
}
#maincontent #emailList li {
    position: relative;
    padding:6px 5px;
    border-bottom:1px solid #E8D6C1;
}
#maincontent #emailList li:nth-child(even) {
    background:#fcf6e4;
}
#maincontent #emailList li span.email {
    display:block;
    overflow:hidden;
    text-overflow: ellipsis;
}
#maincontent #emailList li span.details {
    font-size:0.8em;
    background:#0c217a;
    margin-right:15px;
    color:#fff;
    font-weight:bold;
    padding:2px 5px;
    border-radius:3px;
    opacity:0.5;
}
#maincontent #emailList li form {
    position: absolute;
    top: 0;
    right: 0;
    padding:0;
    display:none;
}
#maincontent #emailList li:hover form {
    display:inline;
}
#maincontent #emailList:after {
    clear:both;
}
#maincontent .addData {
    background:#F1EDE0;
    padding:10px;
    border-top: 1px solid #E8D6C1;
}
#maincontent .addData input[type='text']{
    border:1px solid #E8D6C1;
    padding:3px;
    width:50%;
    font-size:1.06em;
    padding:5px 5px 5px 25px;
}
#maincontent #emailList + form input[type='text']{
    display:block;
    width:84%;
    padding-left:25px;
    background: #fff url('images/iconEmail.png') no-repeat 5px 50%;
}
