.story { 
    clear:both;
    margin-top:20px;
    min-height:80px;
}
table .story:hover {
    outline:2px solid #FA6520;
}

#newsColumnIntro {
    padding-bottom:10px;
    margin-bottom:25px;
}
#newsColumnIntro > .story:first-child{
    margin-top:0;
}

article p {margin-top: 0;}

/* Newsletter Web View for the rendered stories. (Not the newsletter building web view)
************************/
.half{
    width:50%;
    float:right;
    margin:0 0 10px 10px;
}
#newsletterWeb .story img:not(.announcefullwidth) {
    margin-bottom:0;
    max-width: 38%;
}
#newsletterWeb .story img.frame:hover {
   border: solid 1px #CCC;
   box-shadow: 1px 1px 5px #999;
}
img.spacer {display:none;}


.sidebar.top h3 {
    border-bottom:1px solid rgba(255, 255, 255, 1);
}
.sidebar.top a {
    color:#fff;
}
.sidebar input[type="email"] {
    padding-left: 25px;
    background: #fff url('images/iconEmail.png') no-repeat 5px 50%;
}

/* Newsletter Details
************************/
#newsletterDetails {
    padding: 0 20px 20px;
    position:relative;
}
#newsletterDetails form fieldset {
    padding:0;
}
#newsletterDetails form.email {
    display:none;
}
#newsletterDetails fieldset ol li {
    list-style:none;
    padding:0px 25px 14px 0px;
}
#newsletterDetails fieldset legend {
    display:none;
}
#newsletterDetails form input[type='submit'][disabled='disabled'] {
    opacity:0.5;
    cursor:default;
}
#newsletterDetails form + a.action {display:none;}

/* 

Newsletter Email Preview (for building the newsletter)

************************/
#previewWrapper {
    width: 720px;
    min-width: 720px;
    margin-top: 20px;
    font-size:16px;
    line-height:1.777;
    font-family:Georgia, serif;
    box-shadow: 4px 4px 13px #bbb;
    background-color:#f6f6f5;
}
#previewWrapper table, #previewWrapper tr, #previewWrapper td, #previewWrapper th {
    border: none;
    border-top: none;
    padding: 0;
    margin: 0;
    line-height: normal
}
#previewWrapper table tbody tr:nth-of-type(2n) {
    background: inherit;
}
#previewWrapper td.wdn-logo-lockup {
    white-space: normal !important;
    vertical-align: middle;
}

#previewWrapper .unltoday-mast i {
    display: block;
    text-align: right;
}
#previewWrapper p {
    margin: 0;
}
#previewWrapper .newsColumn {
    background-color: #d9f9f9;
    padding-bottom: 10px;
}

.newsColumn, .adArea {min-height:75px;}
.newsColumn form, .newsColumn .requestedDates {display:none;}
.ui-sortable .story {
    cursor:move;
    position:relative;
    margin-top:0px;
    margin-bottom:15px;
    word-break: break-word;
    display:block !important;
}


.adArea .story {
    position:relative;
}

#newsColumn1, #newsColumn2 {
    width: 305px;
}

/*Story Dragging */
#drag_story_list {margin-top:50px;}
#drag_story_list h3 {
    background:#eee;
    padding:5px 8px;
    margin-top:20px;
}
#drag_story_list h3 a.showHide {
    float:right;
    text-indent:-99999px;
    background:url(/wdn/templates_3.0/css/content/images/zenboxShowHide.png) no-repeat top right;
    background-position:0px 0px;
    display:block;
    width:20px;
    height:20px;
}
#drag_story_list h3 a.showHide.show {
    background-position: 0 -42px;
}
#drag_story_list h3 span {
    font-size:.6em;
    color:#999;
}
.dragItem {
    cursor:move;
    border-bottom:1px solid #ddd;
    display:inline-block;
    padding: 3px 0;
    width:100%;
}
.dragItem:hover {
    background:#f4f4f4;
}
.empty {
    color: #D4440B;
    padding:30px;
    text-align:center;
    opacity:0.45;
}
.dragItem form,
#drag_story_list .dragItem p,
#drag_story_list .dragItem p a,
#drag_story_list .dragItem table {
    display:none;
}
#drag_story_list .dragItem h4 {
    float:left;
    display:inline-block;
    max-width:264px;
}

.dragItem span.requestedDates  {
    background:#eee;
    color:#494949;
    float:right;
    font-size:0.7em;
    padding:3px 5px;
    position:relative;
    border-radius:3px;
    display:inline-block;
    max-width:80px;
    line-height:0.9em;
}
.dragItem:hover span.requestedDates {
    background:#fff;
}
.dragItem span.dateRange {
    float:left;
    text-align:center;
}
.dragItem span.dateRange:first-of-type{
    padding-right:2px;
    border-right:1px solid #ddd;
}
.dragItem span.dateRange:last-of-type{
    padding-left:3px;
}
.dragItem span.dateRange .month{
    display:block;
    text-transform:uppercase;
    color:#999999;
}
.dragItem span.dateRange .day{
    text-align:center;
    font-size:120%;
    font-weight:bold;
}
.filled {
    border:none;
}
/* Ads */
.dragItem.ad img {
    width:220px !important;
    height:inherit !important;
    float:left;
}
.dragItem.ad span.requestedDates {
    position:absolute;
    right:10px;
}

/* Story inline controls
************************/

.storyTools {
    background:url('images/toolBG.png');
    height:100%;
    z-index:9;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    display:none;
    text-align:center;
}

.ui-sortable-helper .storyTools {display:none;}

table .story textarea {
    width:100%;
    min-height:75px;
    font:0.8em "Lucida Grande",Verdana,Arial;
}
.storyTools a {
    width:48px;
    height:48px;
    border:1px solid #fda967;
    border-radius:10px;
    display:inline-block;
    vertical-align:middle;
    background-color:rgb(253,229,210);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.2, rgb(253,229,210)),
        color-stop(1, rgb(253,169,103))
    );
    background-image:-moz-linear-gradient(
        center top,
        rgb(253,229,210) 20%,
        rgb(253,169,103) 100%
    );
    font-size:0.8em;
    font-weight:bold;
    text-transform:uppercase;
    color:#fff;
    margin:10px 5px;

}
.storyTools a span {
    display:block;
    width:100%;
    height:100%;
}
.storyTools a.edit span {
    background:url('images/toolEdit.png') no-repeat 50% 50%;
}
.storyTools a.remove span {
    background:url('images/toolRemove.png') no-repeat 50% 50%;
}
.storyTools a.layout span {
    background:url('images/toolLayout.png') no-repeat 50% 50%;
}


/* jQuery.UI Styles 
************************/
.ui-sortable-placeholder { border:2px dashed #D4440B; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.ui-datepicker-trigger {
    right: 9px;
    position: relative;
    cursor: pointer;
    float: right;
    top: -29px;
}

/* Help Page Styles
***********************/
dt {
    font-weight: bold;
    font-size:1.3em;
    padding:10px 0 0 0;
    margin-left:60px;
    border-bottom:1px solid #efefef;
}
dt:before {
     content: "Q:";
     font-size: 2.5em;
     font-family: Georgia, "Times New Roman", Times, serif;
     margin-right: 7px;
     padding: 0 8px 5px 8px;
     color: #ccc;
     font-weight: normal;
     margin-left: -65px;
     position: relative;
     top: 3px;
}
 
dd {
    padding:10px 0 0 0;
    margin-left:94px;
    line-height: 150%;
    min-height:50px;
}

dd:before {
     content: "A:";
     font-size: 2.5em;
     font-family: Georgia, "Times New Roman", Times, serif;
     margin-right: 14px;
     padding: 0 9px;
     color: #FFF;
     background-color: #ccc;
     margin-left: -65px;
     position: relative;
     top: 13px;
     border-radius:3px;
}
dd p+ul {padding-left:20px;}
