div#enewsForm {
    width:940px;
    background:#f7f7f7;
}

/* Submission Form h3
*************/
#maincontent div#enewsForm h3 {
    background:#eee url('images/process_step_header_fade.gif') repeat-x bottom;
    padding:5px 10px;
    border:1px solid #dadde3;
    border-top:1px solid #fff;
    border-bottom:1px solid #ccc;
    font-size:1.5em;
    color:#999;
}
#maincontent div#enewsForm h3:first-of-type {
    border-top:1px solid #dadde3;   
}
#maincontent div#enewsForm h3 span {
    background:#fff;
    padding:1px 4px 1px 4px;
    border-radius:10x;  
    margin-right:10px;
    margin-top:0px;
    font-size:12px;
    float:left;
    font-weight:bold;
    border:1px solid #fff;
}
#maincontent div#enewsForm h3.highlighted {background:#f8f3e4;border:1px solid #b8afa1;color:#de8727;font-weight:bold;}
#maincontent div#enewsForm h3.highlighted span {
    border:1px solid #e19c2b;
    background:#de8727;
    color:#fff;
}
#maincontent div#enewsForm h3.highlighted + fieldset,
#maincontent div#enewsForm h3.highlighted + fieldset + fieldset {
    border:1px solid #b8afa1;
    border-top:none;
    background:url('images/process_step_fade.jpg') repeat-x top #fbfaf6;
}
#maincontent div#enewsForm h3 span.announceType {
    border:none;
    float:right;
    background:#028a02;
    margin-top:3px; 
    color:#fff;
}




/* Resizable Textarea
************************/
div.grippie {
	background:#EEEEEE url(images/grippie.png) no-repeat scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
	padding:0 5px;
	width:100%;
}
.resizable-textarea textarea {
	display:block;
	margin-bottom:0pt;
	width:95%;
	height: 20%;
}

/* Newsroom Selector
************************/
#newsroom_id select {
	margin-top:5px;
}

#addAnotherNewsroom {
	margin:5px 0 0 5px;
	display:block;
}
#addAnotherNewsroom:hover {
	cursor:pointer;
}
#addAnotherNewsroom span {
	padding:0 2px;
	border:1px solid #fff;
	background:#de8727;
	color:#fff;
}



form#enewsSubmission {
    float:left;
    width:470px;
    margin-right:10px;	
}



/* Submission Form Display Sample
**********************/
#sampleLayout {
    float:right;    
    margin:20px 10px 0px 10px;
    width:430px;
}
#sampleLayout > h5 {
    font-size:1.3em;
    font-family:"Lucida Grande",Verdana,Arial;
    color:#494949;	
    padding-bottom:0;
}
#sampleLayoutInner {
    background:#fff;
    padding:10px;
    border:1px solid #b8afa1;
}
#sampleLayoutImage {
	width:96px;
	max-height:78px;
    overflow:hidden;	
}
#sampleLayoutImage img {
    height:auto;
    width:auto;
    max-width:96px;
    cursor:default !important;  
}

/* Image Upload Preview 
********************/
form#enewsImage, form#enewsImageDescription {
    float:right;
    clear:right;
    width:430px;
    border:1px solid #b8afa1;
    background:#fff;
    margin:30px 10px;
}
#upload_area {
    text-align:center;
    margin-bottom:10px;
}
#upload_area img {
    height:auto;
    width:auto;
    max-width:410px;
    cursor:default !important;  
}
#upload_area span {
	display:block;
    margin:10px 0 8px 0;
    background:#F8F9D1;
    color:#A5690C;
    font-size:1.1em;
    padding:10px;
    border:1px solid #CAD094;
}
#upload_area div {
    border:2px dashed #de8727;
    background:#fcfcfc;
    text-align:center;
    margin:0 auto;
    padding:3px;
    width:100px;
    min-height:90px;
}
