
/* Newsroom Selector
************************/
#newsroom_id select {
    margin-top:5px;
}

#addAnotherNewsroom {
    margin:5px 0 0 5px;
    display:block;
}
#addAnotherNewsroom:hover {
    cursor:pointer;
}
#addAnotherNewsroom span {
    padding:0 2px;
    border:1px solid #fff;
    background:#D4440B;
    color:#fff;
}

/* Image Upload Preview
********************/
#upload_area {
    text-align:center;
    margin:10px 0;
}
#upload_area img {
    height:auto;
    width:auto;
    max-width:410px;
    cursor:default !important;
}
#upload_area div {
    border:2px dashed #D4440B;
    background: var(--bg-light-gray);
    text-align:center;
    margin:0 auto;
    padding:3px;
    width:100px;
    min-height:90px;
}
#dcf-main #imageControls {
    display:none;
    list-style:none;
    padding:0;
    margin:0 0 10px 0;
    border:1px solid #DDDDDD;
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.3, rgb(255,255,255)),
        color-stop(0.97, rgb(228,233,243))
    );
    background-image:-moz-linear-gradient(
        center top,
        rgb(255,255,255) 30%,
        rgb(228,233,243) 97%
    );
    color: #736357;
    text-align: center;
}
#imageControls li {
    display:inline-block;
    vertical-align:top;
    text-align:center;
    margin:10px 10px 8px 0;
}
#img_description_label {
    position: relative;
}
#dcf-main .enews fieldset ol #img_description_label .required {
    left: -44px;
}
#cropMessage {
    font-size: 0.8em;
    width: 224px;
}
#cropRatio {
    width:80px;
    height:40px;
    background-position:3px 3px;
    background-repeat:no-repeat;
    background-image:url(images/cropRatio.png);
    background-color:#78A8C0;
    color:#FFFFFF;
    font-size:0;
    padding:0;
    cursor:pointer;
    border-radius:3px;
}

#deleteImages {
    position: static;
    float: right;
}
#deleteImages input {
    background: none;
    color: var(--btn-secondary);
}
