#enewsForm {
    background:#f7f7f7;
}

/* Submission Form h3
*************/
#enewsForm h3 {
    background:#eee;
    padding:5px 10px;
    margin: 0;
    font-size:1.7em;
    color:#999;
}
#enewsForm h3 span {
    background:#fff;
    padding:1px 4px 1px 4px;
    border-radius:10px;
    margin-right:10px;
    margin-top:7px;
    font-size:12px;
    float:left;
    font-weight:bold;
    text-align: center;
    min-width: 16px;
}
#enewsForm h3.highlighted {
    background:#D4440B;
    color:#fff;
}
#enewsForm h3.highlighted span {
    background:#F35B1F;
    color:#fff;
}
#enewsForm h3.highlighted + fieldset,
#enewsForm h3.highlighted + fieldset + fieldset {
    border:1px solid #b8afa1;
    border-top:none;
    background:url('images/process_step_fade.jpg') repeat-x top #fbfaf6;
}
#enewsForm h3 span.announceType {
    border:none;
    float:right;
    background:#B34E26;
    margin-top:3px;
    color:#fff;
    padding: 3px;
}

#enewsSubmission {
    z-index: 2;
}

/* Newsroom Selector
************************/
#newsroom_id select {
    margin-top:5px;
}

#addAnotherNewsroom {
    margin:5px 0 0 5px;
    display:block;
}
#addAnotherNewsroom:hover {
    cursor:pointer;
}
#addAnotherNewsroom span {
    padding:0 2px;
    border:1px solid #fff;
    background:#D4440B;
    color:#fff;
}

/* Submission Form Display Sample
**********************/
#sampleLayout h5 {
    font-size: 1.4rem;
    margin-bottom: 0.1em;
}
#sampleLayoutInner {
    min-height: 224px;
    background:#fff;
    padding:10px;
    border:1px solid #b8afa1;
    font-size: 13px;
}
#sampleLayoutInner h4 {
    margin-top: 0;
}
#sampleLayoutImage {
    min-height:72px;
    float:left;
    margin-right:5px;
    background:#f7f7f7;
    font-size:.8em;
    line-height:1em;
    text-align:center;
    overflow:hidden;
    width: 96px;
    height: 72px;
}
#sampleLayoutImage img {
    cursor:default !important;
    max-width: none;
    width: 100%;
    margin-right: 6px;
}

/* Image Upload Preview
********************/
form#enewsImage {
    margin:30px 10px;
    z-index: 1;
}
#upload_area {
    text-align:center;
    margin:10px 0;
}
#upload_area img {
    height:auto;
    width:auto;
    max-width:410px;
    cursor:default !important;
}
#upload_area div {
    border:2px dashed #D4440B;
    background:#fcfcfc;
    text-align:center;
    margin:0 auto;
    padding:3px;
    width:100px;
    min-height:90px;
}
#maincontent #imageControls {
    display:none;
    list-style:none;
    padding:0;
    margin:0 0 10px 0;
    border:1px solid #DDDDDD;
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.3, rgb(255,255,255)),
        color-stop(0.97, rgb(228,233,243))
    );
    background-image:-moz-linear-gradient(
        center top,
        rgb(255,255,255) 30%,
        rgb(228,233,243) 97%
    );
    color: #736357;
    text-align: center;
}
#imageControls li {
    display:inline-block;
    vertical-align:top;
    text-align:center;
    margin:10px 10px 8px 0;
}
#img_description_label {
    position: relative;
}
#maincontent .enews fieldset ol #img_description_label .required {
    left: -44px;
}
#cropMessage {
    font-size: 0.8em;
    width: 224px;
}
#cropRatio {
    width:80px;
    height:40px;
    background-position:3px 3px;
    background-repeat:no-repeat;
    background-image:url(images/cropRatio.png);
    background-color:#78A8C0;
    color:#FFFFFF;
    font-size:0;
    padding:0;
    cursor:pointer;
    border-radius:3px;
}

#deleteImages {
    position: static;
    float: right;
}
#deleteImages input {
    background: none;
    color: gray;
    text-decoration: underline;

}
/******** Submit Buttons ********/
.submissionButton {
    margin:20px 0;
    padding-bottom:20px;
    clear:both;
    text-align: center;
}
